<IfModule mod_rewrite.c>
  RewriteEngine On
  RewriteBase /

  # 1. Proxy API & uploaded images to Node.js Backend (Port 8080)
  RewriteCond %{REQUEST_URI} ^/api/ [OR]
  RewriteCond %{REQUEST_URI} ^/images/
  RewriteRule ^(.*)$ http://127.0.0.1:8080/$1 [P,L]

  # 2. Frontend React SPA routes fallback
  RewriteRule ^index\.html$ - [L]
  RewriteCond %{REQUEST_FILENAME} !-f
  RewriteCond %{REQUEST_FILENAME} !-d
  RewriteCond %{REQUEST_FILENAME} !-l
  RewriteRule . /index.html [L]
</IfModule>
